<%- include("../views/partials/header.ejs") -%>
<script defer src="../Javascript/stateCountyDependantDropdown.js"></script>
<script defer src="../Javascript/typeOfWork.js"></script>

<section>
  <!--*********************-->
  <!--*  Browse Container *-->
  <!--*********************-->
  <div class = "browse container-fluid ">
     <form>
        <!--Search Bar Row-->
        <div class = "row">
           <div class = "col-lg-12">
              <div class="input-group md-form form-sm form-2 pl-0">
                 <input id = "searchCriteria" class="form-control my-0 py-1 red-border" type="text" placeholder="Search For HandyMen..." aria-label="Search">
                 <button class="input-group-append btn btn-info" type="submit">Search</button>
              </div>
           </div>
        </div>
        <!--Ends Search Bar Row-->
        <!--OR text-->
        <div style = "text-align: center; padding: 1rem 0 0 0;">- or -</div>
      </form>
      <form action="/browse" method="POST">
        <!--Filters Div-->
        <div id = "filters" >
           <div class = "row">
              <div class = "col-lg-12">
                 <h5>Filter your search:</h5>
              </div>
           </div>
           <div class = row>
              <div class = "col-lg-4">
                 <div class= "form-group">
                    <label for="browseState"><i class="fas fa-city"></i> State</label>
                    <select class="browser-default custom-select" name="state" id="stateSelect" required="">
                        <option value="" selected="selected">Select a state</option>
                  </select>
                 </div>
              </div>
              <div class = "col-lg-4">
                 <div class= "form-group">
                  <label for="enter_county"><i class="fas fa-city"></i> County</label>
                  <select class="browser-default custom-select" name="county" id="countySelect" required="">
                     <option value="" selected="selected">Please select state first</option>
                  </select>
                 </div>
              </div>
              <div class = "col-lg-4">
                 <div class= "form-group">
                    <label for="typeOfWork"><i class="fas fa-briefcase"></i> Type Of Work</label>
                    <!-- <input id="browseTypeWork" type="text" class="form-control" placeholder="Type Of Work" name="type" > -->
                    <select class="browser-default custom-select" id="typeOfWorkSelect" name="typeOfWork" required="">
                        <option value="" selected="selected">Choose one</option>
                    </select>
                 </div>
              </div>
           </div>
           <button class = "btn btn-info" type = "submit">Search</button>
           <input class = "btn btn-info" type="reset">
        </div>
        <!--Ends Filters Div-->
     </form>

     <!--HandyMen Cards row-->
     <div class = "row">
      <%if(foundHandyMen.length){%>
         <% foundHandyMen.forEach(function(handyMan){ %>
      
            <div class = "col-lg-3">
               <div class="card">
                  <%if(handyMan.profilePicture.url) { %>
                     <img class="card-img-top" src="<%=handyMan.profilePicture.url%>" alt="Card image">
                  <%} else {%>
                     <img class="card-img-top" src ="../Images/handyman.png" alt="Card image">
                  <%}%>
                  <div class="card-body">
                     <h5 id = "handyManName"class="card-title"><%=handyMan.companyName%></h5>
                     <p id = "handyManType"><i class="fas fa-briefcase"></i> <%=handyMan.typeOfWork%></p>
                     <p id = "handyManAddress"><i class="fas fa-map-marked"></i> <span id = "handyManCity"><%=handyMan.county%></span>, <span id = "handyManState"><%=handyMan.state%></span></p>
                     <a href="/users/<%=handyMan.username%>" class="btn btn-dark"><i class="far fa-eye"></i> View Profile</a>
                  </div>
               </div>
            </div>
      
        <% }); %>
      <%} else {%>
         <p>Enter search terms to find HandyMen</p>
      <%}%>

      <p class="errorMessage"><%= noneFound %></p>

     </div>
     <!--Ends HandyMen Cards Row-->
  </div>
  <!--Ends Browse Container-->
</section>
<%- include("../views/partials/footer.ejs") -%>


