<%- include("../views/partials/header.ejs") -%>
<script defer src="../Javascript/stateCountyDependantDropdown.js"></script>
<script defer src="../Javascript/typeOfWork.js"></script>

<section>
   <!--*********************-->
   <!--* Settings Container *-->
   <!--*********************-->
   <div class = "container-fluid">
      <!--Settings Body-->
      <div class = "row settings">
         <div class="col-lg-12">
            <div class = "row tab">
               <button onclick = "switchTab(event, 'profileSettings')" class = "col-lg-6 tab-profileSettings btn btn-info">PROFILE SETTINGS</button>
               <button onclick= "switchTab(event, 'accountSettings')" class = "col-lg-6 tab-accountSettings btn btn-info" class = "active">ACCOUNT SETTINGS</button>
               <!--
                  <button onclick= "switchTab(event, 'reviews')" class = "col-lg-4 tab-reviews btn btn-info btn-round">Reviews</button>
                  -->
            </div>
            <div id = "profileSettings"class = "row tab-content center">
               <form id = "profileForm" action="/settings" method="POST" enctype="multipart/form-data">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class= "form-group">
                           <label for="filename"><i class="fas fa-portrait"></i> Profile Picture</label><br>
                           <!--Code for Inputing code for file explorer -->
                           <input type="file" id="image" name="image" value="<%= user.profilePicture.filename %> ">
                        </div>




                        <div class= "form-group">
                           <label for="enter_state"><i class="fas fa-city"></i> State</label>
                           <select class="browser-default custom-select" name="state" id="stateSelect">
                              <%if(user.state){%>
                                 <option hidden><%= user.state %></option>
                              <%} else { %>
                                 <option value="" selected="selected">Select a state</option>
                              <%}%>
                           </select>
                        </div>


                        <div class= "form-group">
                           <label for="enter_county"><i class="fas fa-city"></i> County</label>
                           <select class="browser-default custom-select" name="county" id="countySelect">
                              <%if(user.state){%>
                                 <option hidden><%= user.county %></option>
                              <%} else { %>
                                 <option value="" selected="selected">Please select state first</option>
                              <%}%>
                           </select>
                        </div>





                        <div class= "form-group">
                           <label for="update_bio"><i class="fas fa-atlas"></i> Bio</label>
                           <textarea class="form-control" id="update_bio" type="text" rows="3" name="bio" placeholder = "Bio"><%= user.bio %></textarea>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class= "form-group">
                           <label for="companyName"><i class="far fa-envelope"></i> Company Name</label>
                           <input class="form-control" type="text" id="companyName" placeholder="Company Name" name="companyName" value="<%= user.companyName %>"> 
                        </div>
                        <div class= "form-group">
                           <label for="work_email"><i class="far fa-envelope"></i> Business Email</label>
                           <input class="form-control" type="text" id="work_email" placeholder="Email" name="businessEmail" value="<%= user.businessEmail %>"> 
                        </div>
                        <div class= "form-group">
                           <label for="change_phoneNum"><i class="fas fa-phone-alt"></i> Phone Number</label>
                           <input class="form-control" id="change_phoneNum" type="text" placeholder=" Phone Number" name="phoneNumber" value="<%= user.phoneNumber %>">
                        </div>
                        <div class= "form-group">
                           <label for="type_of_work"><i class="fas fa-briefcase"></i> Type of Work</label>
                           <!-- <input class="form-control" type="text" id="type_of_work" placeholder=" Type of Work" name="typeOfWork" value="<%= user.typeOfWork %>"> -->
                           <select class="browser-default custom-select" id="typeOfWorkSelect" name="typeOfWork">
                              <%if(user.typeOfWork){%>
                                 <option hidden><%= user.typeOfWork %></option>
                              <%} else { %>
                                 <option value="" selected="selected">Choose one</option>
                              <%}%>
                           </select>
                        </div>
                     </div>
                  </div>
                  <button class= "btn btn-info">Save Changes</button>
               </form>

               <div class="row">
                  <!-- Certifications -->
                  <div class="col-lg-4">
                     <div class= "form-group">
                        <label for="update_certifications"><i class="fas fa-check-square"></i> Certifications</label>
                     </div>

                     <% user.certifications.forEach(function(certification){ %>

                        <form action="/deleteCertification" method="post">
                            <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= certification %>" onChange="this.form.submit()">
                                <span><%= certification %></span>
                            </div>
                        </form>
            
                    <% }); %>

                    <form class="item" action="/lists" method="post">
                     <div class="input-group md-form form-sm form-2 pl-0">
                        <input class = "form-control" type="text" name="newItem" placeholder="New Certification" autocomplete="off">
                        <button class="input-group-append btn btn-info" type="submit" name="list" value="certifications">+</button>
                     </div>
                    </form>
                  </div>

                  <!-- Skills -->
                  <div class="col-lg-4">
                     <div class= "form-group">
                        <label for="update_skills"><i class="fas fa-check-square"></i> Skills</label>
                     </div>

                     <% user.skills.forEach(function(skill){ %>

                        <form action="/deleteSkill" method="post">
                            <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= skill %>" onChange="this.form.submit()">
                                <span><%= skill %></span>
                            </div>
                        </form>
            
                    <% }); %>

                    <form class="item" action="/lists" method="post">
                     <div class="input-group md-form form-sm form-2 pl-0">
                        <input class = "form-control" type="text" name="newItem" placeholder="New Skill" autocomplete="off">
                        <button class="input-group-append btn btn-info" type="submit" name="list" value="skills">+</button>
                     </div>
                    </form>
                 </div>
                  
                 <!-- Languages -->
                  <div class="col-lg-4">
                     <div class= "form-group">
                        <label for="update_languages"><i class="fas fa-check-square"></i> Languages</label>
                     </div>

                     <% user.languages.forEach(function(language){ %>

                        <form action="/deleteLanguage" method="post">
                            <div class="item">
                                <input type="checkbox" name="checkbox" value="<%= language %>" onChange="this.form.submit()">
                                <span><%= language %></span>
                            </div>
                        </form>
            
                    <% }); %>

                    <form class="item" action="/lists" method="post">
                     <div class="input-group md-form form-sm form-2 pl-0">
                        <input class = "form-control" type="text" name="newItem" placeholder="New Language" autocomplete="off">
                        <button class="input-group-append btn btn-info" type="submit" name="list" value="languages">+</button>
                     </div>
                    </form>
                  </div>
               </div>
















               <div class="row" style = "margin-top: 1rem;">
                  <div class = "col-lg-12">
                  <div class= "form-group">
                     <label for="completedJobs"><i class="fas fa-check-square"></i> Completed Jobs</label>
                  </div>

                  <% for(let i = 0; i < user.completedJobs.length; i++){ %>

                     <form class="item" action="/deleteCompletedJob" method="POST">
                        <div class="form-group" >
                           <input class="form-control" type="text" id="index" name="index" value="<%=i%>" placeholder="index" autocomplete="off" readonly hidden>

                           <label for="completedJobTitle">Title</label>
                           <input class="form-control" type="text" id="completedJobTitle" name="title" value="<%= user.completedJobs[i].title %>" placeholder="Title" autocomplete="off" readonly>
                        </div>
   
                        <div class="form-group">
                           <label for="completedJobDescription">Description</label>
                           <textarea class="form-control" id="completedJobDescription" type="text" rows="3" name="description" placeholder = "Description"  readonly><%= user.completedJobs[i].desc %></textarea>
                        </div>
   
                        <div class="form-group">
                           <label for="jobImage">Profile Picture</label><br>
                           <input class="form-control" type="text" id="completedJobTitle" name="jobImage" value="<%= user.completedJobs[i].image.filename %>" placeholder="No-Image" autocomplete="off" readonly>
                        </div>
   
                        <button class= "btn btn-info" type="submit" value="languages">Delete Job</button>
                     </form>
         
                 <% } %>



                  <form class="item" action="/addCompletedJob" method="POST" enctype="multipart/form-data">
                     <div class="form-group">
                        <label for="completedJobTitle">Title</label>
                        <input class="form-control" type="text" id="completedJobTitle" name="title" placeholder="Title" autocomplete="off">
                     </div>

                     <div class="form-group">
                        <label for="completedJobDescription">Description</label>
                        <textarea class="form-control" id="completedJobDescription" type="text" rows="3" name="description" placeholder = "Description"></textarea>
                     </div>

                     <div class="form-group">
                        <label for="jobImage">Profile Picture</label><br>
                        <input class="form-control" type="file" id="jobImage" name="jobImage">
                     </div>

                     <button class= "btn btn-info" type="submit" name="list" value="languages">Add Job</button>
                  </form>
                  </div>
               </div>
            </div>



















            <div id = "accountSettings" class = "row tab-content">
               <!-- Active-Tab -->
               <form id = "accountForm">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class= "form-group">
                           <label for="update_email"><i class="far fa-envelope"></i> Email</label>
                           <input class="form-control" type="text" id="update_email" placeholder="Email"> 
                        </div>
                     </div>
                     <div class= "col-lg-6">
                        <div class= "form-group">
                           <label for="update_password"><i class="fas fa-key"></i> Password</label>
                           <input class="form-control" type="password" id="update_password" placeholder="Password">
                        </div>
                     </div>
                  </div>
                  <button class= "btn btn-info">Save Changes</button>
               </form>
            </div>
            <!--
               <div id = "reviews" class = "row tab-content">
                   <h1>Your Reviews</h1>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
               </div>
               -->
         </div>
         <!--Ends Settings Dashboard Column-->
      </div>
      <!--Ends Settings Body-->
   </div>
   <!--Ends Settings Container-->
</section>
<!--*********************-->
<!--** Settings Script ***-->
<!--*********************-->
<script>
   function switchTab(event, tabContentName){
     //hides tab contents that are not selected
     var tabContent = document.getElementsByClassName("tab-content");
     for (x = 0; x < tabContent.length; x++)
     {
       tabContent[x].style.display = "none";
     }
   
     var tab = document.getElementsByClassName("tab");
     //sets tab that are not selected as inactive
     for (x = 0; x < tab.length; x++)
     {
       tab[x].className = tab[x].className.replace("active", "");
     }
     //sets active tab content to be visible
     document.getElementById(tabContentName).style.display = "block";
     evt.currentTarget.className +="active";
   }
</script>
<%- include("../views/partials/footer.ejs") -%>