<%- include("../views/partials/header.ejs") -%>
<section>
   <!--*********************-->
   <!--* Profile Container *-->
   <!--*********************-->
   <div class = "container-fluid profile">
      <!--Profile Header Row-->
      <div class = "row">
         <div class = " col-lg-12 profile-header">
            <div class = "profile-img">
            <%if(foundUser.profilePicture.url) { %>
               <a target="_blank" href="<%=foundUser.profilePicture.url%>">
                  <img class="thumbnailImage" id = "handyManImage" src ="<%=foundUser.profilePicture.url%>">
               </a>
            <%} else {%>
               <a target="_blank" href="../Images/handyman.png">
                  <img class="thumbnailImage" id = "handyManImage" src ="../Images/handyman.png">
               </a>
            <%}%>
            </div>
            <div class = "profile-header-info">
               <h3 id = "handyManName"><%=foundUser.companyName%></h3>
               <p id = "handyManType"><i class="fas fa-briefcase"></i> <%=foundUser.typeOfWork%></p>
               <div class = "profile-stars">
                  <%if(Math.round(foundUser.reviews.averageRating) == 1){%>
                     <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                  <%} else if(Math.round(foundUser.reviews.averageRating) == 2){%>
                     <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                  <%} else if(Math.round(foundUser.reviews.averageRating) == 3){%>
                     <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                  <%} else if(Math.round(foundUser.reviews.averageRating) == 4){%>
                     <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i></td>

                  <%} else if(Math.round(foundUser.reviews.averageRating) == 5){%>
                     <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i></td>
                  <%}%>
                    <p><span id ="handyManReviewCounter"><%=foundUser.reviews.yourReviews.length%></span> reviews</p>
               </div>
               <div class = "profile-option">
                  <a class = "btn btn-info btn-round" onclick="history.back()"><i class="fas fa-chevron-circle-left"></i> Back</a>
               </div>
               <div class = "profile-rating">
                  <a class = "btn btn-info btn-round" data-toggle="modal" data-target="#reviewModal">Rate <i class="far fa-star"></i></a>
               </div>
            </div>
         </div>
      </div>
      <!--Ends Profile Header-->
      <!--Profile Body Rows-->
      <!--About Handyman Row-->
      <div class = "row profile-body">
         <div class="col-lg-4 profile-body-info">
            <p id = "handyManAddress"><i class="fas fa-city"></i><span id = "handyManCounty"> <%=foundUser.county%> County</span>, <span id = "handyManState"><%=foundUser.state%></span></p>
            <p id = "handyManPhone"><i class = "fa fa-phone"></i> <%=foundUser.phoneNumber%></p>
            <p id = "handyManEmail"><i class = "fa fa-envelope"></i> <%=foundUser.businessEmail%></p>
            <!--
            <div class = "profile-rating">
              <div><h3 id = "handyManRating">4.8</h3></div>
              <div class = "profile-stars">
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <p><span id ="handyManReviewCounter">123</span> reviews</p>
              </div>
            </div>
            -->
         </div>
         <!--Ends Profile Body Info Column-->
         <div class="col-lg-8 profile-bio">
            <h5><i class="fas fa-user-tie"></i> Bio</h5>
            <p id= "handyManBio"><%=foundUser.bio%></p>
         </div>
         <!--Ends Profile Bio Column-->
      </div>
      <!--Certifications, Skills, and Languages Row-->
      <div class = "row profile-body">
         <div class = "col-lg-4">
            <h5><i class="fas fa-certificate"></i> Certifications</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.certifications.forEach(certification => { %>
                  <li id = "handyManCert" class="list-group-item"><%=certification%></li>
               <%});%>
            </ul>
         </div>
         <div class = "col-lg-4">
            <h5><i class="fas fa-hammer"></i> Skills</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.skills.forEach(skill => { %>
                  <li id = "handyManSkill" class="list-group-item"><%=skill%></li>
               <%});%>
            </ul>
         </div>
         <div class = "col-lg-4">
            <h5><i class="fas fa-globe"></i> Languages</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.languages.forEach(language => { %>
                  <li id = "handyManLang" class="list-group-item"><%=language%></li>
               <%});%>
            </ul>
         </div>
      </div>
      
      <!--Completed Jobs Row-->
      <%foundUser.completedJobs.forEach(element => { %>
         <div class = "row profile-body">
         <div class = "col-lg-12">
            <h5><i class="fas fa-clipboard-check"></i> Previous Work</h5>
            <!-- Table -->
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Title</th>
                     <th scope="col">Description</th>
                     <th scope="col">View</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td id = "handyManJobTitle"><%=element.title%></td>
                     <td id = "handyManJobDesc"><%=element.desc%></td>
                     <td id = "handyManJobImg">
                        <a target="_blank" href="<%=element.image.url%>">
                           <img class="thumbnailImage" src="<%=element.image.url%>" alt="" border=3 height=100 width=100></img>
                        </a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <%});%>

      <!--Reviews Row-->
      
      <div class = "row profile-body">
         <div class = "col-lg-12">
            <h5><i class="fas fa-users"></i> Reviews</h5>

            <%foundUser.reviews.yourReviews.forEach(element => {%>
               <table class="table">
                  <thead>
                     <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Review</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td id = "homeownerName"><%=element.name%></td>
                        <%if(element.rating == 1){%>
                           <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                        <%} else if(element.rating == 2){%>
                           <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                        <%} else if(element.rating == 3){%>
                           <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></td>

                        <%} else if(element.rating == 4){%>
                           <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star"></i></td>

                        <%} else {%>
                           <td id = "homeownerRating"><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i><i class="fas fa-star" style = "color: #ffc700;"></i></td>
                        <%}%>
                        <td id = "homeownerReview"><%=element.description%></td>
                     </tr>
                  </tbody>
               </table>
            <%});%>
            
         </div>
      </div>
      
      <!--Ends Profile Body Rows-->
   </div>
   <!--Ends Profile Container-->
</section>

<%- include("../views/partials/footer.ejs") -%>

  <!--**********************-->
  <!--****Rate Modal**** -->
  <!--**********************-->
<div class="modal fade" id="reviewModal" role="dialog">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <!-- Modal body-->
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Rate: <%=foundUser.companyName%></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <div class="d-flex flex-column text-center">    
               <%if(user){%>
                  <form action = "/submitReview" method = "POST">
                     <input class="form-control" type="text" id="username" name="username" value="<%=foundUser.username%>" placeholder="index" autocomplete="off" readonly hidden>
                     <div class="form-group">
                        <label>Select rating:</label>
                      </div>
                      <div class="form-group">
                       <span class="starRating">
                          <input id="rating5" type="radio" name="rating" value="5">
                          <label for="rating5">5</label>
                          <input id="rating4" type="radio" name="rating" value="4">
                          <label for="rating4">4</label>
                          <input id="rating3" type="radio" name="rating" value="3">
                          <label for="rating3">3</label>
                          <input id="rating2" type="radio" name="rating" value="2">
                          <label for="rating2">2</label>
                          <input id="rating1" type="radio" name="rating" value="1">
                          <label for="rating1">1</label>
                       </span>
                      </div>
                      <div class="form-group">
                        <label>Description (optional):</label>
                     </div>
                     <div class="form-group">
                        <textarea  style="resize:none;" rows="3"  type ="text" placeholder = "In a few words state why you chose your rating and describe your overall experience with our handy man." class="form-control" name="description"></textarea>
                     </div>
                     <button type="submit" class="btn btn-info btn-block btn-round" style="text-align:center;"><i class="fas fa-check-circle"></i> Submit Review</button>
                  </form>
               <%} else {%>
                <div class="form-group">
                  <h3>You must be logged in to leave a rating</h3>
                </div>
                <div class="form-group">
                  <a class= "btn btn-info btn-round" href="/login"><i class="fas fa-user"></i> Log In</a>
                  <a class= "btn btn-info btn-round" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
                </div>
               <%}%>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
 </div>