<%- include("../views/partials/header.ejs") -%>
<section>
   <!--*********************-->
   <!--* Profile Container *-->
   <!--*********************-->
   <div class = "container-fluid profile">
      <!--Profile Header Row-->
      <div class = "row">
         <div class = " col-lg-12 profile-header">
            <div class = "profile-img">
            <%if(foundUser.profilePicture.url) { %>
               <img id = "handyManImage" src ="<%=foundUser.profilePicture.url%>">
            <%} else {%>
               <img id = "handyManImage" src ="../Images/handyman.png">
            <%}%>
            </div>
            <div class = "profile-header-info">
               <h3 id = "handyManName"><%=foundUser.companyName%><i id = "handyManVerification" class="fas fa-check-double fa-xs"></i></h3>
               <p id = "handyManType"><i class="fas fa-briefcase"></i> <%=foundUser.typeOfWork%></p>
            </div>
            <div class = "profile-option">
               <a class = "btn btn-info btn-round" href="/"><i class="fas fa-chevron-circle-left"></i> Back</a>
            </div>
         </div>
      </div>
      <!--Ends Profile Header-->
      <!--Profile Body Rows-->
      <!--About Handyman Row-->
      <div class = "row profile-body">
         <div class="col-lg-4 profile-body-info">
            <p id = "handyManAddress"><i class="fas fa-city"></i><span id = "handyManCity"> <%=foundUser.city%></span>, <span id = "handyManState"><%=foundUser.state%></span></p>
            <p id = "handyManPhone"><i class = "fa fa-phone"></i> <%=foundUser.phoneNumber%></p>
            <p id = "handyManEmail"><i class = "fa fa-envelope"></i> <%=foundUser.businessEmail%></p>
            <!--
            <div class = "profile-rating">
              <div><h3 id = "handyManRating">4.8</h3></div>
              <div class = "profile-stars">
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <i class = "fa fa-star"></i>
                <p><span id ="handyManReviewCounter">123</span> reviews</p>
              </div>
            </div>
            -->
         </div>
         <!--Ends Profile Body Info Column-->
         <div class="col-lg-8 profile-bio">
            <h5><i class="fas fa-user-tie"></i> Bio</h5>
            <p id= "handyManBio"><%=foundUser.bio%></p>
         </div>
         <!--Ends Profile Bio Column-->
      </div>
      <!--Certifications, Skills, and Languages Row-->
      <div class = "row profile-body">
         <div class = "col-lg-4">
            <h5><i class="fas fa-certificate"></i> Certifications</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.certifications.forEach(certification => { %>
                  <li id = "handyManCert" class="list-group-item"><%=certification%></li>
               <%});%>
            </ul>
         </div>
         <div class = "col-lg-4">
            <h5><i class="fas fa-hammer"></i> Skills</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.skills.forEach(skill => { %>
                  <li id = "handyManSkill" class="list-group-item"><%=skill%></li>
               <%});%>
            </ul>
         </div>
         <div class = "col-lg-4">
            <h5><i class="fas fa-globe"></i> Languages</h5>
            <ul class="list-group list-group-flush">
               <% foundUser.languages.forEach(language => { %>
                  <li id = "handyManLang" class="list-group-item"><%=language%></li>
               <%});%>
            </ul>
         </div>
      </div>
      
      <!--Completed Jobs Row-->
      <%foundUser.completedJobs.forEach(element => { %>
         <div class = "row profile-body">
         <div class = "col-lg-12">
            <h5><i class="fas fa-clipboard-check"></i> Completed Jobs</h5>
            <!-- Table -->
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Title</th>
                     <th scope="col">Description</th>
                     <th scope="col">View</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td id = "handyManJobTitle"><%=element.title%></td>
                     <td id = "handyManJobDesc"><%=element.desc%></td>
                     <td id = "handyManJobImg"><img src="<%=element.image.url%>" alt="" border=3 height=100 width=100></img></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <%});%>
      <!--Ends Profile Body Rows-->
   </div>
   <!--Ends Profile Container-->
</section>
<%- include("../views/partials/footer.ejs") -%>